<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <!--ExtentReport Listeners -->
	<listeners>
		<listener class-name="qa.cimb.utility.ExtentReportsListner" />
		<listener class-name="qa.cimb.utility.MyTransform" />
	</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="qa.cimb.testCases.UpdateTaskTestCases"/>
      <class name="qa.cimb.testCases.AddProjectTestCase"/>
      <class name="qa.cimb.testCases.AddTaskTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
